# Netbeans
/nbproject/private/
/build/
/dist/

# iSPD
/Erros/
/policies
/modeloiconico
/modelosimulavel
/configuration.xml

# Backup files
*.bak

# Vim
.vim/
.*.swp
*~

# VS Code
.vscode/

# Idea
.idea/

# Hidden files
.*

# Log files
*.log

# Github
!.github/

# Git
!.gitignore
!.gitmodules